<div class="" id="blurb">
  <div class="">
    <div class="">
      <div class="">
        <div class="">
          IMAGE OF LIL' BUB
        </div>
        <div class="">
          <h3>Tagline</h3>
          <p>I am Lil BUB. You know, the most amazing cat on the planet.</p>
          <h3>Introduction</h3>
          <p>Hello. It's me. BUB. I am real, and I am a girl. A one-of-a-kind magic woman space cat. </p>
        </div>
      </div>
    </div>
  </div>
</div>
