<div class="projects-panel">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-4">
          <ul class="project-buttons">
            <li class="project-button">
              <a href="#project-panel-1">Item 1</a>
            </li>
            <li class="project-button">
              <a href="#project-panel-2">Item 2</a>
            </li>
            <li class="project-button">
              <a href="#project-panel-3">Item 3</a>
            </li>
            <li class="project-button">
              <a href="#project-panel-4">Item 4</a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="project-panels">
            <div class="project-panel active" id="project-panel-1">
              <p>This is a panel content 1</p>
            </div>
            <div class="project-panel" id="project-panel-2">
              <p>This is a panel content 2</p>
            </div>
            <div class="project-panel" id="project-panel-3">
              <p>This is a panel content 3</p>
            </div>
            <div class="project-panel" id="project-panel-4">
              <p>This is a panel content 4</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
