<div class="videos-panel" id="videos">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-4">
          <ul class="video-buttons">
            <li class="video-button">
              <a href="#video-panel-1">I squonk!</a>
            </li>
            <li class="video-button">
              <a href="#video-panel-2">I yawn!</a>
            </li>
            <li class="video-button">
              <a href="#video-panel-3">I sleep!</a>
            </li>
            <li class="video-button">
              <a href="#video-panel-4">BUB!</a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="video-panels">
            <div class="video-panel active" id="video-panel-1">
              <iframe width="560" height="315" src="//www.youtube.com/embed/2YKP6FiiJro" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-panel" id="video-panel-2">
              <iframe width="560" height="315" src="//www.youtube.com/embed/mlpocqFrkFQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-panel" id="video-panel-3">
              <iframe width="560" height="315" src="//www.youtube.com/embed/EtMqSTAneWs" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-panel" id="video-panel-4">
              <iframe width="560" height="315" src="//www.youtube.com/embed/gHQMBa2Vr38" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
